rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Check if a user has an 'admin' role or is a specific user
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' || request.auth.uid == 'Hz70KgPMUkO8XUyugxIyg6cApVe2';
    }

    // Allow read/write access for admins to most collections
    match /{document=**} {
      allow read, write: if isAdmin();
    }

    // Allow users to read their own data
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Public read access for announcements
    match /announcements/{announcementId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    // Allow admins to access audit logs
    match /audit_logs/{logId} {
      allow read, write: if isAdmin();
    }

    // Public read and write for symptom reports
    match /symptom_reports/{reportId} {
      allow read, write: if true;
    }

    // Rules for feedback
    match /feedback/{feedbackId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if isAdmin();
    }
  }
}
