
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // -----------------------------
    // Helpers
    // -----------------------------
    function isSignedIn() {
      return request.auth != null;
    }
    
    function userDoc(uid) {
      return get(/databases/$(database)/documents/users/$(uid));
    }
    
    function isDoctor() {
      return isSignedIn() && userDoc(request.auth.uid).data.role == "doctor";
    }
    
    function isPatient() {
      return isSignedIn() && userDoc(request.auth.uid).data.role == "patient";
    }

    // Is the current doctor linked to this patient via PatientLink?
    function isAssignedDoctorForUser(userId) {
      return isDoctor()
        && exists(
          /databases/$(database)/documents/users/$(request.auth.uid)/patients/$(userId)
        );
    }

    // ---------------------------------
    // Doctor Verification Files
    //
    // path: doctor-verification/{doctorId}/{fileName}
    // Doctors can upload their own verification docs
    // Admin can read all
    // ---------------------------------
    match /doctor-verification/{doctorId}/{fileName} {

      // Doctor uploads own verification files
      allow write: if isSignedIn()
        && request.auth.uid == doctorId
        && isDoctor();

      // Doctor can read own documents
      // Admin can read all
      allow read: if isSignedIn()
        && (
          request.auth.uid == doctorId
          || userDoc(request.auth.uid).data.role == "admin"
        );
    }


    // ---------------------------------
    // Patient Medical Documents
    //
    // path: patient_documents/{patientId}/{fileName}
    // Doctor uploads files for patients
    // Patients can upload own files (lab reports, PDF)
    // ---------------------------------
    match /patient_documents/{patientId}/{fileName} {

      // Patient uploads own medical files
      allow write: if isSignedIn()
        && request.auth.uid == patientId
        && isPatient();

      // Doctor can upload medical files for a patient IF they are assigned to that patient.
      allow write: if isSignedIn() && isAssignedDoctorForUser(patientId);

      // Patients download own files
      // Doctor can view files for a patient they are assigned to.
      allow read: if isSignedIn()
        && (
          (isPatient() && request.auth.uid == patientId)
          || isAssignedDoctorForUser(patientId)
        );
    }


    // ---------------------------------
    // Block everything else
    // ---------------------------------
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
